* { font-family:Verdana, Arial, sans-serif; color:#484848; font-size:12px; }
a { text-decoration:none; color:#2A5685; }
a:hover { text-decoration:underline; }

a.btnLaranja {
	overflow:visible; /* THANKS FOR I.E. -> without this, text input doesn't padding */
	padding:5px; 
	border:1px solid #9A9A9A;
	background-color:#ffba00;
	font-size:12px; 
	font-weight:bold;
	font-family:Tahoma, Verdana, sans-serif; 
	color:#616161;
}
a.btnLaranja:hover {
	border:1px solid black;
	color:black;	
	text-decoration:none;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#nav {
	font-family:'Trebuchet MS', Verdana, Arial, sans-serif;
	height:35px;
	border-bottom:1px solid #ddd;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	background:#fff url(../imgs/nav.png) repeat-x center left;
	z-index:99999;
}
#nav ul { height:25px; list-style:none; margin:6px auto 0px auto; }
#nav ul li { display:inline; float:left; margin:0px 2px; }
#nav a {
	font-size:11px;
	font-weight:bold;
	float:left;
	padding:2px 4px;
	color:black;
	text-decoration:none;
	border:1px solid #ccc;
	cursor:pointer;
	background:transparent url(../imgs/overlay.png) repeat-x center left;
	height:16px;
	line-height:16px;
}
#nav a:hover { background:#D9D9DA none; color:#999; }

#nav a.top span, #nav a.bottom span {
	float:left;
	width:16px;
	height:16px;
}
#nav a.top span{ background:transparent url(../imgs/top.png) no-repeat center center; }
#nav a.bottom span{ background:transparent url(../imgs/bottom.png) no-repeat center center; }
#nav ul li a.linkBlue {
	background-color:#498AF2;
	color:#F1F1F1;
	border:1px solid #9A9A9A;
}
#nav ul li a.linkRed {
	background-color:#DA4A38; 
	color:#F1F1F1;
	border:1px solid #9A9A9A;
}

#middle { margin-top:45px; padding:0px 10px 10px; min-height:400px; }
#footer { clear:both; width:100%; border-top:1px solid #BBBBBB; text-align:center; font-size:12px; padding:5px 0px; }
.fifty { padding:0 5px; width:48%; }
.setenta { padding:0 5px; width:68%; }
.trinta { padding:0 5px; width:28%; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; }

#middle h1 { border-bottom:1px solid #BBBBBB; color:#444444; font-size:20px; margin:0 0 10px; padding:2px 10px 1px 0; }
#middle h2 { border-bottom:1px solid #BBBBBB; color:#444444; font-size:16px; margin:0 0 10px; padding:2px 10px 1px 0; }

img { border:none; }
input, textarea, select { color:black; padding:5px; }
input[type=text], input[type=password], textarea { border:1px solid #000; }
p { margin-top:10px; line-height: 20px;}

/* MENSAGENS */
.messagebox{
	border:1px solid #c93;
	background:url("../imgs/alerta.png") no-repeat 4px 50%;
	background-color:#ffc;
	padding:3px 3px 3px 23px;
	margin-top:10px;
	color:#708090;
}
.messageboxok{
	border:1px solid #349534;
	background:url("../imgs/certo.gif") no-repeat 4px 50%;
	background-color:#C9FFCA;
	padding:3px 3px 3px 23px;
	color:#008000;
	margin-top:10px;
}
.messageboxerror{
	border:1px solid #CC0000;
	background:url("../imgs/erro.png") no-repeat 4px 50%;
	background-color:#F7CBCA;
	padding:3px 3px 3px 23px;
	color:#CC0000;
	margin-top:10px;
}
.messageboxinfo{
	border:1px solid #1E5395;
	background:url("../imgs/info.png") no-repeat 4px 50%;
	background-color:#B0C4DE;
	padding:3px 3px 3px 23px;
	color:#1E5395;
	margin-top:10px;
}

/* ESTILIZACAO DE FORMULARIO PARA CADASTRO E EDIÇÃO */
fieldset { border:none; }
legend { font-size:18px; margin:0px; padding:10px 0px; color:#1E5395; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
input[type=text], textarea { padding:3px; border:1px solid #000; }
a.prev, a.next { padding:5px 10px 5px 10px; background-color:#1E5395; color:#fff; text-decoration:none; margin:0 5px 0 0; line-height:23px; }
.prev:hover, .next:hover { background-color:#B0C4DE; text-decoration:none;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:white; background-color:#c1c1c1; margin:10px 5px 0 0;}
#steps li span {font-size:11px; display:block;}
#steps li.current, #steps li.current > span { color:#1E5395; font-weight:bold; }

#featured { padding:10px 10px 10px 10px; background-color:#f6f6f6; border:1px solid #E4E4E4; }
#featured li { margin:5px 0; }

#content #featured img.fotoProfile, #featured img.fotoProfile { max-width: 200px; max-height: 250px; float:center; }


/* MENU EM PÉ */
.ca-menu{
    padding:0;
    margin:20px auto;
    width:600px;
}
.ca-menu h4 { font-size:16px; }
.ca-menu h5 { font-size:12px; }
.ca-menu li{
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float:left;
    background: #f6f6f6;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-menu li a:hover { text-decoration:none; }
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 60px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-icon#courses{
	color: #7FFF00;
}
.ca-icon#myinfos{
	color: #FFA500;
}
.ca-icon#suggestions{
	color: #f7002f;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}
.ca-main{
    font-size: 30px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 0px;
    line-height: 40px;
    width: 100%;
    left: 0px;
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
	background: #e1f0fa;
    z-index:999;
    -webkit-transform: scale(1.1);  
    -moz-transform: scale(1.1);  
    -ms-transform: scale(1.1);   
    -o-transform: scale(1.1);   
    transform: scale(1.1);  
}
.ca-menu li:hover .ca-icon{
	color: #259add;
    font-size: 90px;
    opacity:0.3;
}
.ca-menu li:hover .ca-main{
	color:#2676ac;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

/* MENU HORIZONTAL */
.ca-menu-h{
    padding:0;
    margin:20px auto;
    width: 100%;
}
.ca-menu-h h4 { font-size:14px; }
.ca-menu-h h5 { font-size:12px; }
.ca-menu-h li{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #f6f6f6;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu-h li:last-child{
    margin-bottom: 0px;
}
.ca-menu-h li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon-h{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 20px;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-content-h{
    position: absolute;
    left: 120px;
    width: 270px;
    height: 60px;
    top: 5px;
}
.ca-main-h{
    font-size: 30px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub-h{
    font-size: 14px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu-h li:hover{
    background: #e1f0fa;
}
.ca-menu-h li a:hover { text-decoration:none; }
.ca-menu-h li:hover .ca-icon-h{
    font-size: 40px;
    color: #259add;
    opacity: 0.8;
    text-shadow: 0px 0px 13px #fff;
}
.ca-menu-h li:hover .ca-main-h{
    opacity: 1;
    color:#2676ac;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}
.ca-menu-h li:hover .ca-sub-h{
    opacity: 1;
    -webkit-animation: moveFromBottom 300ms ease-in-out;
    -moz-animation: moveFromBottom 300ms ease-in-out;
    -ms-animation: moveFromBottom 300ms ease-in-out;
}

/* ANIMACOES DO MENU */
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}