* { margin:0; padding:0; font-size:13px; font-family:'Trebuchet MS', Arial, Tahoma, Verdana, sans-serif; color:black; }
a { text-decoration:none; color:#1E5395; }
a:hover { text-decoration:underline; }
body { padding:10px 0 28px 0; background:url('../imgs/bg.gif') repeat-x scroll center top #DAE7EC; }
h1 { font-size:26px; }
h2 { font-size:22px; }
h3 { font-size:18px; }
img { border:none; }
input, textarea, select { color:black; padding:3px; }
input[type=text], input[type=password], textarea { border:1px solid #000; }
p { margin-top:10px; line-height: 20px;}

/* DEFINIÇÃO DA ESTRUTURA */
#wrapper { width:auto; margin:0 auto; }

#topo { width:96%; text-align:left; margin:0px auto; }
#principal-meio { 
	width:96%; 
	text-align:left; 
	margin:0px auto; 
	padding:10px 10px 0 10px;
	border:1px dotted black; 
	background:url('../imgs/fundo.png');
}
#rodape {
	position:fixed; 
	bottom:0px; 
	left:0px; 
	width:100%; 
	height:24px; 
	background:#505354; 
	color:white; 
	line-height:24px; 
	padding:0px;
	padding-left:2%;
	_position: absolute;
	_top:expression(body.scrollTop + document.body.clientHeight - 24 + "px");
}


#sobre-atual {
	float:left;
	max-width:300px;
	padding:10px;
	background-color:#1E5395;
	margin-right:10px;	
	min-height:300px;
}
#sobre-atual p, #sobre-atual b, #sobre-atual b u { color: white; }
#conteudo { float:left; padding:10px; }

/* MENSAGENS */
.messagebox{
	border:1px solid #c93;
	background:url("../imgs/alerta.png") no-repeat 4px 50%;
	background-color:#ffc;
	padding:3px 3px 3px 23px;
	margin-top:10px;
	color:#708090;
}
.messageboxok{
	border:1px solid #349534;
	background:url("../imgs/certo.gif") no-repeat 4px 50%;
	background-color:#C9FFCA;
	padding:3px 3px 3px 23px;
	color:#008000;
	margin-top:10px;
}
.messageboxerror{
	border:1px solid #CC0000;
	background:url("../imgs/erro.png") no-repeat 4px 50%;
	background-color:#F7CBCA;
	padding:3px 3px 3px 23px;
	color:#CC0000;
	margin-right: 0px;
	margin-top:10px;
}
.messageboxinfo{
	border:1px solid #1E5395;
	background:url("../imgs/info.png") no-repeat 4px 50%;
	background-color:#B0C4DE;
	padding:3px 3px 3px 23px;
	color:#1E5395;
	margin-top:10px;
}

/* MENU */
#nav, #nav ul { /* all lists */
	float:right;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}
#nav a, #nav a:hover {
	display: block;
	width: 10em;
	text-decoration: none;
	color:#000;
}
#nav li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
	background:#c1c1c1;
	padding:10px;
	margin:0px 2px;
}
#nav > li { -moz-border-radius:3px;	-webkit-border-radius:3px; }
#nav li.submenu { background:#c1c1c1 url('../imgs/arrow_down.gif') no-repeat right; }
#nav li.subs { background:#c1c1c1 url('../imgs/arrow_right.gif') no-repeat right; }
#nav li:hover { background-color:#ccc; }
#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:10px;
}
#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 0 0 10.5em;
}
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* ESTILIZACAO DE FORMULARIO PARA CADASTRO E EDIÇÃO */
fieldset { border:none; }
legend { font-size:18px; margin:0px; padding:10px 0px; color:#1E5395; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
input[type=text], textarea { padding:3px; border:1px solid #000; }
a.prev, a.next { padding:5px 10px 5px 10px; background-color:#1E5395; color:#fff; text-decoration:none; margin:0 5px 0 0; line-height:23px; }
.prev:hover, .next:hover { background-color:#B0C4DE; text-decoration:none;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:white; background-color:#c1c1c1; margin:10px 5px 0 0;}
#steps li span {font-size:11px; display:block;}
#steps li.current, #steps li.current > span { color:#1E5395; font-weight:bold; }


h2.nome { 
	font-weight:bold; 
	padding:5px; 
	margin-left:-10px; 
	margin-right:-15px;
	width:300px; 
	background-color:black;
	text-align:center; 
	position:relative;
	color:white;
}